body {
    background-color: ghostwhite;
    margin: 0;
    height: 100%;
}

html {
    font-size: 16px;
}

header {
    height: 4rem;
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header .profile-picture {
    height: 4rem;
    width: 4rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
}

.modal-content {
    background-color: white;
    width: 600px;
    height: 400px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
}
form label {
    display: flex;
    flex-direction: column;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 0.3rem;
    cursor: pointer;
}

.profile-picture:hover {
    border: 1px solid #fcf6bd;
    transition: 0.8s;
    scale: 1.1;
}

.logo {
    width: 70px;
    height: 70px;
}

/* .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
} */
