body {
    background-color: ghostwhite;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
}
form label {
    display: flex;
    flex-direction: column;
}

/* .registration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
 */
