body {
    background-color: rgb(210, 176, 111);
    margin: 0;
    height: 100%;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    margin: auto;

    flex-direction: column;
    align-items: center;
    flex: 1;
}

header {
    height: 4rem;
    background-color: ghostwhite;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header .profile-picture {
    height: 4rem;
    width: 4rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: black;
}

.modal-content {
    background-color: white;
    width: 600px;
    height: 400px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3 {
    text-align: center;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
}
form label {
    display: flex;
    flex-direction: column;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 0.3rem;
    cursor: pointer;
}

.profile-picture:hover {
    border: 1px solid #fcf6bd;
    transition: 0.8s;
    scale: 1.1;
}

.welcome-logo {
    width: 3.75rem;
}
.app-logo {
    width: 3.75rem;
}

.welcome {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 1.5rem 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.registration {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.registerButton {
    width: 4rem;

    align-self: center;
}
.users-picture {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.bio-editor {
    display: flex;
    flex-direction: column;

    align-items: center;
}
.otherUser {
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 5%;
    width: 100%;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
}
.otherprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    text-align: center;
    padding-top: 4px;
}

.otherUserPicture {
    width: 300px;
    height: 300px;
    border-radius: 0.3rem;
    cursor: pointer;
    padding-bottom: 10px;
}

.users-list {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: auto;
    list-style: none;
}
li.users-list {
    display: flex;
    flex-direction: column;

    align-items: center;
}
.users-picture {
    width: 13rem;
    margin-bottom: 1rem;
}
input:text {
    text-align: center;
}

.chat-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chatPic {
    width: 3.75rem;
}
.find-users {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-users {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userView {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 2px;
}

.friends-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userViewImg {
    width: 13rem;
    margin-bottom: 1rem;
}
.chat-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.chats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.chatSender {
    color: blue;
    font-size: 14px;
}
.chatMsg {
    color: rgb(204, 21, 21);
}
